/* /* /* .box {
   height: 100px;
   width: 150px;
   color: blueviolet;
   background-color: aquamarine; 
} */

/* .para1 {
    color: black;
    background-color: aqua;
}

.para2 {
    color: yellow;
    background-color: black;
} */ 

.dark {
    background-color: white;
    color: black;
}

.light {
    background-color: black;
    color: white;
}